.article-title {
  font-size: 16px;
}

.related img {
  max-width: 95px;
  max-height: 63px;
}

.news__img {
  height: 150px;
}

/*
  ===========================================================
                HEADER
  ===========================================================
*/
.white {
  color: #fff;
}

svg {
  width: 251px;
  height: 48px;
}

.brand svg {
  width: 132px;
  height: 20px;
  fill: #fff;
}

header {
  background-color: #f72210;
}

.login {
  background: none;
  border: none;
}

.subs-btn {
  background-color: #ffe400;
  border: none;
  border-radius: 25px;
  color: #000;
}

@media screen and (min-width: 992px) {
  .brand svg {
    width: 395px;
    height: 60px;
  }
}
