.heading-color {
  color: rgba(3, 3, 3, 0.4);
}

.red-color {
  color: #f72210;
}

.white {
  color: #fff;
}

.article-title {
  font-size: 16px;
}

.related img {
  width: 93px;
  height: 93px;
}

.news__img {
  height: 150px;
}

/*
  ===========================================================
                HEADER
  ===========================================================
*/

svg {
  width: 251px;
  height: 48px;
}

.brand svg {
  width: 132px;
  height: 20px;
  fill: #fff;
}

header {
  background-color: #f72210;
}

.login {
  background: none;
  border: none;
}

.subs-btn {
  background-color: #ffe400;
  border: none;
  border-radius: 25px;
  color: #000;
}

.nav-top * + * {
  border-left: 1px solid #d9d9d9;
  padding-left: 23px;
}

.search input {
  border: none;
  width: 50px;
}

.search {
  border-left: none;
}

.nav-bottom {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.nav-bottom li {
  padding-left: 30px;
}

/*
  ===========================================================
                ARTICLES
  ===========================================================
*/

.p {
  line-height: 15px;
}

.category a {
  background: red;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.debate img {
  width: 65px;
  height: 65px;
}

.info-container img {
  width: 65px;
  height: 65px;
}

.User img {
  width: 65px;
  height: 65px;
}

.info-container > p {
  line-height: 15px;
}

.myturn,
.story > * + * {
  margin-top: 30px;
  clear: left;
}

/*
===========================================================
                VS DIVISION
 ==========================================================
*/

.c-vs::before,
.c-vs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.c-vs::before {
  top: calc(50% - 2px);
}

.vs {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.myturn img,
.culture-travel img {
  max-width: 737px;
  max-height: 737px;
}

.themagazine {
  min-width: 400px;
  min-height: 366px;
}

.news-icon {
  width: 29px;
  height: 28px;
}

.related img {
  width: 95px;
  height: 95px;
}

.related > article {
  margin-top: 20px;
}

/*
===========================================================
                FOOTER
 ==========================================================
*/

.top-footer i {
  font-size: 26px;
}

.top-footer svg {
  fill: #f72210;
}

@media screen and (min-width: 768px) {
  .myturn img,
  .culture-travel img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 992px) {
  .brand svg {
    width: 395px;
    height: 60px;
  }
}
