.heading-color {
  color: rgba(3, 3, 3, 0.4);
}

.red-color {
  color: #f72210;
}

.article-title {
  font-size: 16px;
}

.related img {
  max-width: 95px;
  max-height: 63px;
}

.news__img {
  height: 150px;
}

/*
  ===========================================================
                HEADER
  ===========================================================
*/
.white {
  color: #fff;
}

svg {
  width: 251px;
  height: 48px;
}

.brand svg {
  width: 132px;
  height: 20px;
  fill: #fff;
}

header {
  background-color: #f72210;
}

.login {
  background: none;
  border: none;
}

.subs-btn {
  background-color: #ffe400;
  border: none;
  border-radius: 25px;
  color: #000;
}

.nav-top * + * {
  border-left: 1px solid #d9d9d9;
  padding-left: 8px;
}

.search input {
  border: none;
  width: 50px;
}

.search {
  border-left: none;
}

.nav-bottom {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.nav-bottom li {
  padding-left: 30px;
}

/*
  ===========================================================
                ARTICLES
  ===========================================================
*/

.category a {
  background: red;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 992px) {
  .brand svg {
    width: 395px;
    height: 60px;
  }
}

.info-container img {
  width: 65px;
  height: 65px;
}

.User img {
  width: 65px;
  height: 65px;
}
